@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700;800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

.window {
    width: 310px;
    background-color: #b2e2f240;
    border: 1px solid #000;
    font-size: 12px;
    box-shadow: 0px 0px 3px black;
    margin-top: 20px;
    margin-left: 20px;
}

.window__top-division {
    margin-top: 2%;
    border-bottom: 1px solid #000;
}

.window__title,
.window__paragraph {
    margin-left: 3%;
}

.first-paragraph {
    margin-top: 2%;
}